body {
  background-color: #dee2e6;
  height: 100%; }

.layout-container .layout-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  color: black;
  opacity: 0.5;
  padding: 8px;
  padding-left: 278px;
  font-size: 12px;
  text-align: center; }

.layout-container .layout-content {
  position: relative;
  margin-left: 270px;
  z-index: 2; }

.layout-container .layout-sidebar {
  display: inline-block;
  width: 270px;
  position: fixed;
  height: 100%;
  background-color: #495057; }
  .layout-container .layout-sidebar hr {
    margin: 8px 16px;
    border-top: 1px solid white;
    color: white; }
  .layout-container .layout-sidebar ul {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none; }
    .layout-container .layout-sidebar ul li {
      color: white; }
      .layout-container .layout-sidebar ul li a {
        background-color: #495057;
        padding: 6px;
        padding-left: 16px;
        display: block;
        color: white; }
        .layout-container .layout-sidebar ul li a:hover {
          text-decoration: none;
          background-color: #32373b; }
      .layout-container .layout-sidebar ul li li a {
        padding-left: 32px;
        background-color: #555d65; }
      .layout-container .layout-sidebar ul li li li a {
        padding-left: 40px;
        background-color: #555d65; }
      .layout-container .layout-sidebar ul li.active a {
        color: white;
        background: #6f42c1; }
        .layout-container .layout-sidebar ul li.active a:hover {
          text-decoration: none;
          background-color: #59339d; }

.panel {
  background-color: white;
  padding: 15px; }
  .panel .panel-row {
    padding: 0px 8px; }
