body {
  background-color: #adb5bd;
  height: 100%; }

.layout-container .layout-content {
  margin-left: 270px;
  padding: 15px; }

.layout-container .layout-sidebar {
  display: inline-block;
  width: 270px;
  position: fixed;
  height: 100%;
  background-color: #007bff; }
  .layout-container .layout-sidebar hr {
    margin: 8px 16px;
    border-top: 1px solid white;
    color: white; }
  .layout-container .layout-sidebar ul {
    padding: 0px;
    margin-bottom: 0px; }
    .layout-container .layout-sidebar ul li {
      color: white;
      list-style: none; }
      .layout-container .layout-sidebar ul li a {
        padding-left: 16px;
        background-color: #007bff;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
      .layout-container .layout-sidebar ul li li a {
        padding-left: 32px;
        background-color: #1a88ff; }
      .layout-container .layout-sidebar ul li li li a {
        padding-left: 40px;
        background-color: #1a88ff; }
      .layout-container .layout-sidebar ul li a {
        padding: 8px;
        display: block;
        color: white; }
        .layout-container .layout-sidebar ul li a:hover {
          text-decoration: none;
          background-color: #0062cc; }
      .layout-container .layout-sidebar ul li.active a {
        color: #333;
        background: white; }
        .layout-container .layout-sidebar ul li.active a:hover {
          text-decoration: none;
          background-color: #e6e6e6; }
