@import "_variables";

$sidebar-width: 270px;
$sidebar-bg: $gray-700;
$sidebar-color: white;
$sidebar-active-bg: $purple;
$sidebar-active-color: white;
$sidebar-border-color: rgba(0, 0, 0, 0.1);
$bodycolor: $gray-300;

body {
    background-color: $bodycolor;
    height: 100%;
}

.layout-container {

    .layout-footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 1;
        color: black;
        opacity: 0.5;
        padding: 8px;
        padding-left: $sidebar-width + 8px;
        font-size: 12px;
        text-align: center;
    }

    .layout-content {
        position: relative;
        margin-left: $sidebar-width;
        z-index: 2;
    }

    .layout-sidebar {
        display: inline-block;
        width: $sidebar-width;
        position: fixed;
        height: 100%;
        background-color: $sidebar-bg;

        hr {
            margin: 8px 16px;
            border-top: 1px solid $sidebar-color;
            color: $sidebar-color;
        }

        ul {
            padding: 0px;
            margin-bottom: 0px;
            list-style: none;

            li {
                color: $sidebar-color;

                a {
                    background-color: $sidebar-bg;
                    padding: 6px;
                    padding-left: 16px;
                    display: block;
                    color: $sidebar-color;

                    &:hover {
                        text-decoration: none;
                        background-color: darken($sidebar-bg,10);
                    }
                }



                li a {
                    padding-left: 32px;
                    background-color: lighten($sidebar-bg,5);
                }

                li li a {
                    padding-left: 40px;
                    background-color: lighten($sidebar-bg,5);
                }


                &.active {

                    a {
                        color: $sidebar-active-color;
                        background: $sidebar-active-bg;

                        &:hover {
                            text-decoration: none;
                            background-color: darken($sidebar-active-bg,10);
                        }
                    }
                }
            }
        }
    }
}
