@model InStaging.MvcApp.Models.ApplicationIndexVM
@{
    ViewData["ActiveNav"] = "Applications";
    ViewData["Title"] = "Applications";
}
@section navbar{

}
<div class="panel">
    <div class="navbar">
        <div class="ml-auto">
            <a href="@Url.Action("Add", "Application")" class="btn btn-sm btn-outline-primary">Create</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Details</th>
                <th style="width:80px;" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Applications.Any())
            {
                foreach (var item in Model.Applications)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="text-center"><a class="btn btn-sm btn-outline-primary" href="@Url.Action("Edit", "Ticket")">View</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="navbar">
        <div class="ml-auto">
            <a href="@Url.Action("", "")" class="btn btn-sm btn-outline-secondary">back</a>
        </div>
    </div>
</div>